* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display        : inline-block;
}

body {
    margin     : 0;
    padding    : 0;
    overflow-x : hidden;
    font-family: 'Lato', sans-serif;
}



.header {
    background-image : url(../images/Layer\ 8.jpg);
    background-repeat: no-repeat;
    background-size  : cover;
    min-height       : 1072px;
    position         : relative;
    height           : 100%;
    padding          : 284px 0 114px;
}

.container {
    max-width : 920px;
    margin    : 0 auto;
    text-align: center;

}

.header_contacts {
    max-width: 590px;
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
    color    : #fff;
}

.logo_box {
    margin-bottom: 85px;

    .logo {
        width : 65px;
        height: 69px;
    }
}

.header_title {
    font-size     : 54px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom : 48px;
    font-weight   : 400;
    white-space   : 605px;
}

.header_text {
    font-size     : 15px;
    line-height   : 29px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-bottom : 240px;
}

.header_btn {
    .btn_header {
        width : 23px;
        height: 37px;
    }
}

.about_us{
    padding: 147px 0 156px;
    position: relative;
}

.about_us-box{
    border: 2px solid #000;
}

.about_us-title{
    position: absolute;
    // top: 139px;
    // left: 50%;
    // background: #fff;
}