* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display        : inline-block;
}

body {
    margin     : 0;
    padding    : 0;
    overflow-x : hidden;
    font-family: 'Lato', sans-serif;
    color      : #3c3c3c;
}



.header {
    background-image : url(../images/Layer\ 8.jpg);
    background-repeat: no-repeat;
    background-size  : cover;
    min-height       : 1072px;
    position         : relative;
    height           : 100%;
    padding          : 284px 0 114px;
}

.container {
    max-width : 920px;
    margin    : 0 auto;
    text-align: center;

}

.header_contacts {
    max-width: 590px;
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
    color    : #fff;
}

.logo_box {
    margin-bottom: 85px;

    .logo {
        width : 65px;
        height: 69px;
    }
}

.header_title {
    font-size     : 54px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom : 48px;
    font-weight   : 400;
    white-space   : 605px;
}

.header_text {
    font-size     : 15px;
    line-height   : 29px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-bottom : 240px;
}

.header_btn {
    .btn_header {
        width : 23px;
        height: 37px;
    }
}

.about_us {
    padding : 147px 0 156px;
    position: relative;
}

.about_us-box,
.services_box,
.contact_us-box {
    padding   : 73px 166px 53px 177px;
    text-align: center;
}

.about_us-box,
.we_do-box,
.contact_us-box {
    border: 2px solid #000;
}

.about_us-title,
.services_title,
.we_do-title,
.contact_us-title {
    width         : 420px;
    position      : absolute;
    font-size     : 34px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    left          : 50%;
    transform     : translate(-50%);
    font-weight   : 700;
}

.about_us-title {
    top       : 125px;
    background: #fff;
}

.about_us-text {
    margin-bottom: 35px;
    font-size    : 16px;
    line-height  : 24px;
    font-weight  : 300;

}

.about_us-text-bottom {
    max-width  : 435px;
    margin     : 0 auto;
    font-size  : 16px;
    line-height: 24px;
    font-weight: 300;
}




.services {
    background-image : url(../images/Layer\ 4.png);
    background-repeat: no-repeat;
    min-height       : 488px;
    background-size  : cover;
    position         : relative;
    padding          : 128px 0 109px;
}

.services_box {
    border-left  : 2px solid #fff;
    border-right : 2px solid #fff;
    border-bottom: 2px solid #fff;
    // top border
    background         : linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
    background-size    : 238px 2px, 238px 2px;
    background-repeat  : no-repeat, no-repeat;
    background-position: left top, right top;
}

.services_title {
    top  : 115px;
    color: #fff;
}

.services_text {
    max-width  : 553px;
    color      : #fff;
    font-size  : 16px;
    line-height: 24px;
    font-weight: 300;
}

.we_do {
    padding : 120px 0 112px;
    position: relative;
}

.we_do-box {
    padding-top: 120px;
}

.we_do-title {
    top             : 100px;
    background-color: #fff;
}

.we_do-box-inner {
    max-width: 550px;
    margin   : 0 auto;
}

.we_do-img {
    margin-bottom: 37px;
}

.we_do-title-inner {
    font-size     : 20px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    font-family   : 'Lato', sans-serif;
    font-weight   : 600;
    margin-bottom : 35px;
}

.we_do-text {
    padding-bottom: 100px;
    font-family   : 'Lato', sans-serif;
    font-weight   : 400;
    font-size     : 14px;
    line-height   : 25px;
}

.contact_us {
    position      : relative;
    padding-top   : 137px;
    padding-bottom: 55px;
}

.contact_us-title {
    top       : 127px;
    background: #fff;
}
.contact_us-text{
    margin-bottom: 44px;
    font-family   : 'Lato', sans-serif;
    font-weight   : 400;
    font-size     : 14px;
    line-height   : 25px;
}
.contact_us-btn{
    background-color: #3c3c3c;
    width: 395px;
    height: auto;
    color: #fff;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1.6px;
    font-family   : 'Lato', sans-serif;
    font-weight: 400;
    padding: 22px 0;
}